.main-chat
  .main-chat__group-info
    .group-info__left
      .group-info__left--name
        techcamp
      .group-info__left--member
        Member : sarina
    .group-info__right
      = link_to "#", class: "edit-btn" do
        Edit
  .main-chat__message-list
    .message
      .message__user
        .message__user--name
          sarina
        .message__user--time
          2020/03/06(Fri) 15:44:56
      .message__text
        こんにちは！
    .message
      .message__user
        .message__user--name
          sarina
        .message__user--time
          2020/03/06(Fri) 15:44:56
      .message__text
        寒いね！
  .main-chat__message-form
    .input-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__img' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit'