.main-chat
  .main-chat__group-info
    .group-info__left
      .group-info__left--name
        = @group.name
      .group-info__left--members
        Member : 
        %ul.member
          - @group.users.each  do |user|
            %li
              = user.name
              , 
    .group-info__right
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit
  .main-chat__message-list
    .messages
      = render @messages
  .main-chat__message-form
    .input-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__img' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'send-btn'